<!-- Menggabungkan atau join konten layout.html dengan konten dari file add_product.html.html -->
{% extends "layout.html" %}

<!-- Mengatur title website -->
{% block title %}{{ title }} - Our Products{% endblock %}

<!-- Mengatur css -->
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}" type="text/css">
{% endblock %}

<!-- Mengatur konten yang akan dirender oleh template child -->
{% block content %}
    <!-- Konten yang dirender -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for row in banners %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ row.id }}" class="active"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for row in banners %}
            <div class="carousel-item {% if loop.index==1 %} active {% endif %} ">
                <img class="d-block w-100" src="/static/images/{{ row.banner }}" alt="First slide">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-sm-12">
                <h3><strong>OUR PRODUCTS</strong></h3>
            </div>
        </div>
        <div class="row">
            {% for row in products %}
            <div class="col-md-4">
                <div class="card-deck">
                    <div class="card noborder shadow-lg bg-white rounded">
                        <img class="card-img-top" src="/static/images/{{ row.mockup }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ row.title }}</h5>
                            <p class="card-text">{{ row.description }}</p>
                            <p class="card-text font-weight-bold">{{ row.price  | currencyFormat }}</p>
                            <a href="/products/{{ row.id }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
