body {
    padding: 45px 0 0 0;
}

.carousel-item img {
    max-height: 40vh;
    object-fit: cover;
}

.card-deck {
    margin-bottom: 45px;
}

.noborder {
    border: none;
}

.card {
    transition:.3s;
}

.card:hover {
    transform: scale(1.05);
}

[type='radio'] {
    display: none;
}
